@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&family=Anton&family=Lobster&family=Overpass:wght@200&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
a:visited {
  color: black;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

h1 {
  font-size: 5rem;
}

button,
input[type=submit],
input[type=button],
input[type=file] {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background-color: rgba(96, 115, 139, 0.616);
  border: 0;
  border-radius: 4px;
}

button #inbox-btn,
button #login-btn,
input[type=submit] #inbox-btn,
input[type=submit] #login-btn,
input[type=button] #inbox-btn,
input[type=button] #login-btn,
input[type=file] #inbox-btn,
input[type=file] #login-btn {
  background-color: rgba(163, 233, 135, 0.616);
}

h3,
p {
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.25rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(187, 187, 187, 0.5);
  background-color: white;
}

nav #logo {
  font-family: 'Lobster', cursive;
  font-weight: 100;
  cursor: pointer;
}

nav .buttons {
  text-align: right;
}

nav .buttons button {
  margin-bottom: 2px;
}

nav .buttons span {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 2rem;
}

main {
  min-height: 90vh;
  font-family: 'Overpass', sans-serif;
}

main input[type=text],
main input[type=password] {
  height: 2em;
  font-size: 16px;
}

main input[type=submit],
main input[type=button] {
  height: 2em;
  font-size: 16px;
}

main section {
  padding: 3rem 5%;
}

main .login-bg {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  top: 0;
}

main .login-bg .login-main,
main .login-bg .register-main {
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: white;
  width: 30rem;
  height: 40rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .login-bg .login-main .form-top,
main .login-bg .register-main .form-top {
  text-align: center;
}

main .login-bg .login-main .form-top .form-msg,
main .login-bg .register-main .form-top .form-msg {
  margin: auto;
}

main .login-bg .login-main .form-section,
main .login-bg .register-main .form-section {
  width: 100%;
}

main .login-bg .login-main .form-section .form-section-group,
main .login-bg .register-main .form-section .form-section-group {
  width: 100%;
  margin-bottom: 1rem;
}

main .login-bg .login-main .form-section .form-section-group:nth-child(1),
main .login-bg .register-main .form-section .form-section-group:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .login-bg .login-main .form-section .form-section-group .close-bt,
main .login-bg .register-main .form-section .form-section-group .close-bt {
  margin: -23px -12px -26px 0;
  font-size: 3rem;
  cursor: pointer;
}

main .login-bg .login-main .form-section .form-section-group label,
main .login-bg .login-main .form-section .form-section-group input,
main .login-bg .register-main .form-section .form-section-group label,
main .login-bg .register-main .form-section .form-section-group input {
  width: 100%;
  display: block;
  line-height: 1.5;
  padding: 0 0.5rem;
  cursor: pointer;
}

main .login-bg .login-main .form-section .form-section-group #register-ui-btn,
main .login-bg .login-main .form-section .form-section-group #login-ui-btn,
main .login-bg .register-main .form-section .form-section-group #register-ui-btn,
main .login-bg .register-main .form-section .form-section-group #login-ui-btn {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

main .login-bg .register-main {
  display: none;
}

main #products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vh;
}

main #products-section .product-cell {
  border-radius: 15px;
  border: 1px solid #c9c9c9;
  text-align: left;
  margin: 1rem;
  cursor: pointer;
}

main #products-section .product-cell .product-name {
  text-align: center;
  background-color: #9ff0ec;
  font-weight: 900;
}

main #products-section .product-cell .product-user {
  text-align: center;
  background-color: aliceblue;
  border-radius: 15px;
}

main #products-section .product-cell .product-img {
  width: 37rem;
  height: 37rem;
  overflow: hidden;
  margin: 1.5rem;
  border-radius: 5px;
  vertical-align: middle;
}

main #products-section .product-cell .product-img img {
  width: 37rem;
  margin: auto;
}

main #products-section .product-cell .product-price {
  font-size: 2vw;
  font-weight: 900;
}

main #products-section .product-cell .product-desc {
  font-size: 1.5vw;
}

main #products-section .product-cell .product-cart-btn {
  background-color: aquamarine;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

main #product-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #product-section .product-cell {
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  margin: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #product-section .product-cell .product-name {
  padding: 1rem;
  width: 100%;
}

main #product-section .product-cell .product-img {
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  margin: 2.5rem;
}

main #product-section .product-cell .product-card {
  margin: 2.5rem;
  padding: 1rem;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main #product-section .product-cell .product-card * {
  margin-bottom: 0.5rem;
}

main #product-section .product-cell .message-btn {
  width: 100%;
  font-size: 3rem;
}

main #postForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #postForm .formGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #postForm .formGroup label {
  font-size: 2rem;
}

main #postForm .formGroup input {
  width: 25vw;
}

main #sell-products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #sell-products-section .sell-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  margin-bottom: 3rem;
  border: solid gray 1px;
}

main #sell-products-section .sell-product * {
  border: solid gray 1px;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 10rem;
      flex-basis: 10rem;
}

main #sell-products-section .sell-product .available {
  background-color: lightgreen;
}

main #sell-products-section .sell-product .sold {
  background-color: lightcoral;
}

main #sell-products-section .sell-product .sell-product-status {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #sell-products-section .sell-product .sell-product-status-btn,
main #sell-products-section .sell-product .sell-product-delete-btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main #sell-products-section .sell-product .sell-product-status-btn:hover,
main #sell-products-section .sell-product .sell-product-delete-btn:hover {
  font-weight: bold;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 0.25rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.5px solid rgba(187, 187, 187, 0.5);
  background-color: white;
}

#inbox-div {
  visibility: hidden;
  position: absolute;
  bottom: 4rem;
  right: 0;
  height: 60rem;
  width: 60rem;
  background-color: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#inbox-div #inbox-menu {
  background-color: lightsteelblue;
  width: 30%;
}

#inbox-div #inbox-menu ul {
  list-style: none;
  padding: 1rem;
  overflow-y: auto;
}

#inbox-div #inbox-menu ul li {
  padding: 0.5rem;
  border-bottom: solid 0.5px lightgray;
}

#inbox-div #inbox-menu ul li:hover {
  border-bottom: solid 1.5px rebeccapurple;
  font-weight: bold;
}

#inbox-div #inbox-rooms {
  background-color: lightgrey;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#inbox-div #inbox-rooms .inbox-room {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  overflow-y: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#inbox-div #inbox-rooms .inbox-room header {
  padding: 1rem;
  font-weight: bold;
  border-bottom: solid 0.5px rgba(187, 187, 187, 0.5);
}

#inbox-div #inbox-rooms .inbox-room ul {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
  position: relative;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#inbox-div #inbox-rooms .inbox-room ul li {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  display: inline-block;
}

#inbox-div #inbox-rooms .inbox-room ul li span {
  display: block;
}

#inbox-div #inbox-rooms .inbox-room ul li .line-dateTime {
  text-align: right;
}

#inbox-div #inbox-rooms .inbox-room ul .received-line {
  margin-right: auto;
  background-color: lightslategrey;
}

#inbox-div #inbox-rooms .inbox-room ul .sent-line {
  margin-left: auto;
  background-color: lightgreen;
}

#inbox-div #inbox-rooms .inbox-room form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#inbox-div #inbox-rooms .inbox-room form * {
  height: 3rem;
}

#inbox-div #inbox-rooms .inbox-room form input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#inbox-div #inbox-rooms .visible-room {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.visible-inbox-div {
  visibility: visible !important;
}
/*# sourceMappingURL=style.css.map */