* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 5rem;
}

button {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

h3,
p {
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
  background-color: white;
}

nav #logo {
  cursor: pointer;
}

main .login-bg {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  top: 0;
}

main .login-main {
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: white;
  width: 30rem;
  height: 30rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .login-main .form-section {
  width: 100%;
}

main .login-main .form-section .form-section-group {
  width: 100%;
  margin-bottom: 1rem;
}

main .login-main .form-section .form-section-group:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .login-main .form-section .form-section-group .close-bt {
  font-size: 3rem;
  cursor: pointer;
}

main .login-main .form-section .form-section-group label,
main .login-main .form-section .form-section-group input {
  width: 100%;
  display: block;
  line-height: 1.5;
  padding: 0 0.5rem;
  cursor: pointer;
}

main section {
  padding: 3rem 5%;
}

main #products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products-section .product-cell {
  border: 1px solid gray;
  text-align: center;
  margin: 1rem;
  cursor: pointer;
}

main #products-section .product-cell .product-name {
  padding: 1rem;
}

main #products-section .product-cell .product-img {
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

main #products-section .product-cell .product-cart-btn {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

main #product-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #product-section .product-cell {
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  margin: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #product-section .product-cell .product-name {
  padding: 1rem;
  width: 100%;
}

main #product-section .product-cell .product-img {
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  margin: 2.5rem;
}

main #product-section .product-cell .product-card {
  margin: 2.5rem;
  padding: 1rem;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main #product-section .product-cell .product-card * {
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */